# ======================
# OS & Editor Files
# ======================
*~
*#
.#*
.DS_Store
.project
.vscode/
.idea/
.gradle/
.classpath
.settings

# Vim Swap Files
.*.sw*

# ======================
# Dependency Directories
# ======================
node_modules/
vendor/
package-lock.json

# ======================
# Build Output
# ======================
dist/
build/
target/

# ======================
# Hyperledger Fabric Specific
# ======================
bin/
builders/
config/
external-chaincode/
install-fabric.sh
crypto-config/
wallet/
*.pem
*.key
channel-artifacts/
ordererOrganizations/
peerOrganizations/

# Ignore all config/ folders except sample override
!full-stack-asset-transfer-guide/infrastructure/sample-network/config

# ======================
# Logs & Temp
# ======================
*.log
**/*.log
tmp/

